<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SearchMovies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SearchMovies</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label position="floating">Buscar pelicula</ion-label>
    <ion-input type="text" [(ngModel)]="inputValue" (keyup)="onChange($event)"></ion-input>
  </ion-item>
  <ion-list>
    <ion-list-header>
      Resultados
    </ion-list-header>

    <ion-item *ngFor="let movie of movies" routerLink="/movie-details/{{movie.imdbID}}" >
      <ion-avatar slot="start">
        <img src="{{movie.Poster}}">
      </ion-avatar>
      <ion-label>
        <h2>{{movie.Title}}</h2>
        <h3>{{movie.Year}}</h3>
        <p>{{movie.Type}}</p>
      </ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>
